.arrow-back {
    position: fixed;
    top: 10px;
    left: 20px;
    text-decoration: none;
    color: #087e8b;
    font-size: 18px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    padding: 8px 12px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.arrow-back:hover {
    background-color: #e3f8fb;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
