<link rel="stylesheet" href="./views/css/home.css">

<div class="home-cont">
    <section class="chart">
        <div class="line-cont">
            <div class="line line1"></div>
            <div class="line line2"></div>
            <div class="line line3"></div>
            <div class="line line4"></div>
            <div class="line line5"></div>
        </div>
        <div class="vector-container">
            <svg class="vector" viewBox="0 0 390 256" xmlns="http://www.w3.org/2000/svg">
                <!-- Linie -->
                <path d="M0 200 C60 180, 110 80, 160 30 
                       S260 60, 310 180 
                       S360 70, 400 50" fill="none" stroke="black" stroke-width="5" stroke-linecap="round" />
            </svg>
        </div>

        <div class="text-cont">
            <div class="text">Mon</div>
            <div class="text">Tue</div>
            <div class="text">Wen</div>
            <div class="text today">Thu</div>
            <div class="text">Fri</div>
            <div class="text">Sat</div>
            <div class="text">Sun</div>
        </div>
    </section>
    <section class="stats">
        <div class="stats-cont">
            <div class="title">
                <div class="titletext">
                    <h2>Stats</h2>
                </div>
                <div class="daysdot">

                    <div class="days">
                        <p>7 days</p>
                    </div>
                    <div class="doting">
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                </div>
            </div>
            <div class="stat">
                <div class="first all">
                    <p class="shw">+</p>
                    <div class="adkl">
                        <div class="price-cont">
                            <h5>123.45</h5>
                            <h5>CHF</h5>
                        </div>
                    </div>
                    <div class="asdk">
                        <p class="days">Last 7 days</p>
                    </div>
                </div>
                <div class="second all">
                    <p class="shw">-</p>
                    <div class="adkl">
                        <div class="price-cont">
                            <h5>123.45</h5>
                            <h5>CHF</h5>
                        </div>
                    </div>
                    <div class="asdk">
                        <p class="days">Last 7 days</p>
                    </div>
                </div>
                <div class="third all">
                    <p class="shw">=</p>
                    <div class="adkl">
                        <div class="price-cont">
                            <h5>123.45</h5>
                            <h5>CHF</h5>
                        </div>
                    </div>
                    <div class="asdk">
                        <p class="days">Last 7 days</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>