<link rel="stylesheet" href="./views/css/home.css">

<div class="home-cont">
    <section class="chart">
    </section>
    <section class="stats">
        <div class="stats-cont">
            <div class="title">
                <div class="titletext">
                    <h2>Stats</h2>
                </div>
                <div class="daysdot">

                    <div class="days">
                        <p>7 days</p>
                    </div>
                    <div class="doting">
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                </div>
            </div>
            <div class="stat">
                <div class="first all">
                    <p class="shw">+</p>
                    <div class="adkl">
                        <div class="price-cont">
                            <h5>123.45</h5>
                            <h5>CHF</h5>
                        </div>
                    </div>
                    <div class="asdk">
                        <p class="days">Last 7 days</p>
                    </div>
                </div>
                <div class="second all">
                    <p class="shw">-</p>
                    <div class="adkl">
                        <div class="price-cont">
                            <h5>123.45</h5>
                            <h5>CHF</h5>
                        </div>
                    </div>
                    <div class="asdk">
                        <p class="days">Last 7 days</p>
                    </div>
                </div>
                <div class="third all">
                    <p class="shw">=</p>
                    <div class="adkl">
                        <div class="price-cont">
                            <h5>123.45</h5>
                            <h5>CHF</h5>
                        </div>
                    </div>
                    <div class="asdk">
                        <p class="days">Last 7 days</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>