<link rel="stylesheet" href="./views/css/settings.css">

<div class="settings-cont">
    <div class="Account">
        <p>Account</p>
        <div class="account-box a-3">
            <div class="wrapper">
                <span class="slide-animate setting">Profil</span>
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </div>
            <div class="line"></div>
            <div class="wrapper">
                <span class="slide-animate setting">Profil löschen</span>
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </div>
            <div class="line"></div>
            <div class="wrapper">
                <span class="slide-animate setting">Abmelden</span>
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </div>
        </div>
    </div>
</div>